* {
    box-sizing: border-box;

    padding: 0px;
    margin: 0px;

    font-family: 'Jua', sans-serif;

    border: none;
}

h1, h2 {
    color: white;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}

header {
    margin-bottom: 30px;
    width: 90%;

    padding-left: 40%;
    margin: 0 20px 0 20px;
    
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 20px;

    background-color: #222222;

}

#darkandlight p{
    font-size: 20px;
    text-align: center;
    white-space: nowrap;

    background-color: #22222200;
    border: none;

    color: grey;

    width: 100px;
}

#darkandlight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-icon{
    color: white;
    font-size: 50px;
}

#top, #mid, #bot {
    display: flex;
    flex-direction: row;

}

.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9 {
    display: flex;
    flex-direction: row;
}

p {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    margin: 1px;

    background-color: #D9D9D9;
    border-radius: 7px;

    font-size: 30px;

    /* padding: 3%; */
    padding: 5px;
}

#top {
    margin-bottom: 7px;
}

#bot {
    margin-top: 7px;
}

.left{
    margin-right: 7px ;
}

.right{
    margin-left: 7px ;
}

#selection{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 200px;
}

#selection p{
    border: none;
    margin-bottom: 2px;
}

#table {
    margin: 0 30px 0 30px;
}

#choice {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:50px 0 200px 0;

    width: 200px;
}

#choice button{
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    width: max-content;
    border-radius: 30px;

    background-color: #D9D9D9;
}

button{
    margin-top: 5px;
}


  @media screen and (max-width: 900px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        padding: 0 0 70px 0;
        margin: 0;
    }

    ion-icon{
        font-size: 20px;
    }

    #title{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    
    #darkandlight{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #darkandlight p {
        display: none ;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

    #choice{
        flex-direction: row;
        padding: 10px 0 10px 0;
    }

    #choice button{
        font-size: 15px;
        margin: 2px;
    }

    #table p {
        width: 39px;
        height: 39px;

        vertical-align:middle;
        line-height: 100%;
    }

    #selection{
        flex-direction: row;
        justify-content: center;
        width: 100%;

        margin: 10px 0 0 0;
    }

    #selection p {
        width: 39px;
        height: 39px;

        vertical-align:middle;
        line-height: 100%;
    }
  }

  /* @media screen and (max-width: 400px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        padding: 0 0 70px 0;
        margin: 0;
    }

    ion-icon{
        font-size: 20px;
    }

    #title{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);  
    }
    
    #darkandlight{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #darkandlight p {
        display: none ;
    }

    main{
        flex-direction: column;
        align-items: center;
    }

    #choice{
        flex-direction: row;
        padding: 10px 0 10px 0;
    }

    #choice button{
        font-size: 14px;
        margin: 2px;
    }

    #table p {
        width: 37px;
        height: 37px;

        vertical-align:middle;
        line-height: 100%;
    }

    #selection{
        flex-direction: row;
        justify-content: center;
        width: 100%;

        margin: 10px 0 0 0;
    }

    #selection p {
        width: 37px;
        height: 37px;

        vertical-align:middle;
        line-height: 100%;
    }
  } */





